<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1 style="text-align: center; font-size: 10em;">Home</h1>
        <p style="text-align: center; font-size: 4em;">Welcome to the Home Page!</p>
        <div style="display: flex; align-items: center; justify-content: center;">
            <a href="{% url 'list' %}" style="font-size: 2em; margin-right: 1em; background-color: skyblue; padding: 20px; border-radius: 6px;">List</a>
            <a href="{% url 'static_view' %}" style="font-size: 2em; background-color: skyblue; padding: 20px; border-radius: 6px; margin-right: 1em;">Static</a>
            <a href="{% url 'dynamic' %}" style="font-size: 2em; background-color: skyblue; padding: 20px; border-radius: 6px;">Dynamic Form</a>
    </body>
</html>